/*body{*/
/*    background: #FFFFFF no-repeat fixed center center;*/
/*}*/

/*body{*/
/*    background-size: cover;*/
/*}*/

*{
    padding:0;
    margin:0;
}
.background{
    width:100%;
    height:100%;
    margin:0 auto;
    top: 0;
    position: absolute;
}

#fore{
    z-index: -1;
}